Repository AICardiologist/FoundationRelativity, changes with the labels that .github/labeler.yml gives for each.
All labels: paper:1, paper:2, paper:3, infrastructure, documentation, ci, tests, wip, examples

p2: decouple Ishihara from DualStructure via OpNormCore (no sorries)
  Papers/P2_BidualGap/Constructive/Ishihara.lean
  Papers/P2_BidualGap/Constructive/OpNormCore.lean
Labels: paper:2

p2: add completeness-transport shim, eliminate API drift sorry
  Papers/P2_BidualGap/HB/Compat/CompletenessTransport.lean
  Papers/P2_BidualGap/HB/DualIsometriesComplete.lean
  SORRY_ALLOWLIST.txt
Labels: paper:2

p2(dev): add P2_Smoke target and full-alignment notes
  Papers/P2_BidualGap/P2_Smoke.lean
  Papers/P2_BidualGap/README.md
  dev/P2_full_alignment.md
Labels: paper:2, documentation

fix: normalize Ishihara namespace, add clarifying comments
  Papers/P2_BidualGap/Constructive/Ishihara.lean
  Papers/P2_BidualGap/P2_Smoke.lean
  scripts/no_sorry_p2_minimal.sh
Labels: paper:2, infrastructure, ci

p2: refactor to remove WLPO-SCNP dependency, strengthen smoke checks
  Papers/P2_BidualGap/HB/DualIsometriesComplete.lean
  Papers/P2_BidualGap/P2_Smoke.lean
Labels: paper:2

refactor: remove WLPO→SCNP dependency chain
  Papers/P2_BidualGap/HB/DualIsometriesComplete.lean
Labels: paper:2

fix: update SORRY_ALLOWLIST line numbers after refactor
  SORRY_ALLOWLIST.txt
Labels: none

fix: replace 'zero-sorry' with 'no axioms' in comment
  Papers/P2_BidualGap/HB/DualIsometriesComplete.lean
Labels: paper:2

p2: remove WLPO→SCNP dependency chain (#101)
  Papers/P2_BidualGap/HB/DualIsometriesComplete.lean
  SORRY_ALLOWLIST.txt
Labels: paper:2

p2: remove deprecated WLPO lemma stubs and allowlist entries
  Papers/P2_BidualGap/HB/DualIsometriesComplete.lean
  SORRY_ALLOWLIST.txt
Labels: paper:2

docs: update README with release tag and reproducibility info
  Papers/P2_BidualGap/README.md
Labels: paper:2, documentation

docs: add real Zenodo DOI badge (10.5281/zenodo.13356587)
  Papers/P2_BidualGap/README.md
Labels: paper:2, documentation

docs: wire DOI 10.5281/zenodo.13356587 everywhere
  CITATION.cff
  Papers/P2_BidualGap/REPRODUCIBILITY.md
  Papers/P2_BidualGap/documentation/lmcs-paper-v2.tex
  Papers/P2_BidualGap/documentation/lmcs-paper-v3.tex
  Papers/P2_BidualGap/documentation/paper-v5.tex
Labels: paper:2, documentation

p2: remove deprecated WLPO lemma stubs and allowlist entries (#102)
  Papers/P2_BidualGap/HB/DualIsometriesComplete.lean
  SORRY_ALLOWLIST.txt
Labels: paper:2

docs: add final paper with correct Zenodo DOI
  Papers/P2_BidualGap/documentation/paper-final.tex
Labels: paper:2, documentation

docs: update Paper 2 README with release info (#103)
  CITATION.cff
  Papers/P2_BidualGap/README.md
  Papers/P2_BidualGap/REPRODUCIBILITY.md
  Papers/P2_BidualGap/documentation/lmcs-paper-v2.tex
  Papers/P2_BidualGap/documentation/lmcs-paper-v3.tex
  Papers/P2_BidualGap/documentation/paper-final.tex
Labels: paper:2, documentation

[P1] Initial rank-one toggle core setup
  Papers/P1_GBC/P1_Minimal.lean
  Papers/P1_GBC/RankOneToggle/Projection.lean
  scripts/no_sorry_p1_minimal.sh
Labels: paper:1, infrastructure, ci

[P1] Update toolchain and dependencies
  Papers/P1_GBC/RankOneToggle/Projection.lean
  lake-manifest.json
Labels: paper:1, infrastructure

[P1] Update Projection.lean to avoid unicode issues
  Papers/P1_GBC/P1_Minimal.lean
  Papers/P1_GBC/RankOneToggle/Projection.lean
Labels: paper:1

[P1] Fix Projection.lean with explicit typeclass parameters
  Papers/P1_GBC/RankOneToggle/Projection.lean
Labels: paper:1

[P1] Simplify to placeholder for green CI
  Papers/P1_GBC/P1_Minimal.lean
  Papers/P1_GBC/RankOneToggle/Projection.lean
  lake-manifest.json
Labels: paper:1, infrastructure

.github/labeler.yml:

# Automatic PR labeling based on changed files
# Used by labeler GitHub Action

paper:1:
  - changed-files:
    - any-glob-to-any-file: 'Papers/P1_GBC/**'

paper:2:
  - changed-files:
    - any-glob-to-any-file: 'Papers/P2_BidualGap/**'

paper:3:
  - changed-files:
    - any-glob-to-any-file: 'Papers/P3_2CatFramework/**'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'scripts/**'
      - 'lakefile.lean'
      - 'lean-toolchain'
      - 'lake-manifest.json'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - '**/documentation/**'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - 'scripts/check*.sh'
      - 'scripts/no_sorry*.sh'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/test/**'
      - '**/tests/**'
      - '**/*_test.lean'

wip:
  - changed-files:
    - any-glob-to-any-file:
      - '**/WIP/**'
      - '**/wip/**'

examples:
  - changed-files:
    - any-glob-to-any-file:
      - '**/examples/**'
      - '**/Examples/**'
